h2 {
    background-color:  #F8E473;
    display: inline-grid;      /*https://www.w3schools.com/html/html_blocks.asp. This allows for the background color to only take as much space as needed*/
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

html{
    background-color: #FFFFC5;
}
h3{
    text-align: center;
    display: inline-grid;
    font-size: 16px;
    color: black;
    padding: 6px 11px; 
    margin-bottom: 11px;
    background-color: #45a3e5;
    border-radius: 12px;
}
h1{
    text-align: center;
    justify-content: center;
    display: inline-grid;
    font-size: 32px;
    color: black;
    padding: 6px 11px; 
    margin-bottom: 11px;
    background-color: #45a3e5;
    border-radius: 12px;
}
p{
    text-align: center;
    display: inline-grid;
    font-size: 16px;
    color: black;
    padding: 4px 8px; 
    margin-bottom: 8px;
    background-color: #F8E473;
    border-radius: 8px;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr ; /* keeps proportional unlike auto.*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.question{
    text-align:center;
}
/* All of the code below is my code from my first assessment */
.menu{
     background:rgb(62, 127, 202);
     text-align: right;
     height: 90px;
}


/*
.question {
    border: 2px solid red;
    margin: 10px;
}
.grid {
    border: 2px solid blue;
    min-height: 100px;
}
*/
