.BECheading {
    display: flex;
    align-items: center;
    gap: 20px;
}
h3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-item: center;
    gap: 100px;
    color: black;
    background-color: blue;
}
