.BECheading {
    background-color: #F8E473;         
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    background-color: #F8E473;   
    display: inline-block;       
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: black;
    padding: 6px 11px;
    margin-bottom: 11px;
    background-color: #45a3e5;
    border-radius: 12px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
/*
.question {
    border: 2px solid red;
    margin: 10px;
}
.grid {
    border: 2px solid blue;
    min-height: 100px;
}
*/
